<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
	
    <Properties>
		<Property name="serverLogsPath">/srv/ChatApp-Server/logs/Server Logs/</Property>
        <Property name="databaseLogsPath">/srv/ChatApp-Server/logs/Database Logs/</Property>
	</Properties>
	
    <Appenders>
		
        <RollingFile name="serverLog"
			fileName="${serverLogsPath}/logdemo.log"
			filePattern="${serverLogsPath}/logdemo-%d{dd\MM\yyyy}.log">
			<PatternLayout>
				<pattern>%d{HH:mm} [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>


		<RollingFile name="databaseLog"
			fileName="${databaseLogsPath}/logdemo.log"
			filePattern="${databaseLogsPath}/logdemo-%d{dd\MM\yyyy}.log">
			<PatternLayout>
				<pattern>%d{HH:mm} [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{dd-MM-yyyy HH:mm} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Root level="ALL">
			<AppenderRef ref="Console" level="INFO"/>
		</Root>
        
        <Logger name="server" level="ALL">
			<AppenderRef ref="serverLog" level="INFO"/>
        </Logger>

        <Logger name="database" level="ALL">
			<AppenderRef ref="databaseLog" level="INFO"/>
        </Logger>
	</Loggers>
</Configuration>

