useSSL=true
requireSSL=true
sslMode=PREFERRED

tcpRcvBuf=0
connectionLifecycleInterceptors=null
slowQueryThresholdNanos=0
loadBalanceHostRemovalGracePeriod=15000
exceptionInterceptors=null
maxReconnects=3
useCursorFetch=false
clientInfoProvider=com.mysql.cj.jdbc.CommentClientInfoProvider
tcpKeepAlive=true
fallbackToSystemKeyStore=true
padCharsWithSpace=false
verifyServerCertificate=false
socksProxyHost=null
databaseTerm=CATALOG
gatherPerfMetrics=false
yearIsDateType=true
maxQuerySizeToLog=2048
autoSlowLog=true
allowLoadLocalInfileInPath=null
processEscapeCodesForPrepStmts=true
resultSetSizeThreshold=100
emulateUnsupportedPstmts=true
loadBalancePingTimeout=0
maxAllowedPacket=65535
zeroDateTimeBehavior=EXCEPTION
useNanosForElapsedTime=false
includeThreadDumpInDeadlockExceptions=false
noAccessToProcedureBodies=false
readOnlyPropagatesToServer=true
compensateOnDuplicateKeyUpdateCounts=false
useLocalSessionState=false
useStreamLengthsInPrepStmts=true
rollbackOnPooledClose=true
sendFractionalSeconds=true
dontCheckOnDuplicateKeyUpdateInSQL=false
useUnbufferedInput=true
connectionTimeZone=null
cacheServerConfiguration=false
connectionCollation=null
useColumnNamesInFindColumn=false
allowMultiQueries=false
serverConfigCacheFactory=com.mysql.cj.util.PerVmServerConfigCacheFactory
slowQueryThresholdMillis=2000
loadBalanceValidateConnectionOnSwapServer=false
ldapServerHostname=null
characterSetResults=null
socketTimeout=0
allowNanAndInf=false
autoReconnect=false
initialTimeout=2
ha.loadBalanceStrategy=random
useInformationSchema=false
connectTimeout=0
queryTimeoutKillsConnection=false
autoClosePStmtStreams=false
strictUpdates=true
tlsCiphersuites=null
transformedBitIsBoolean=false
prepStmtCacheSize=25
includeInnodbStatusInDeadlockExceptions=false
authenticationPlugins=null
loadBalanceSQLStateFailover=null
replicationConnectionGroup=null
profilerEventHandler=com.mysql.cj.log.LoggingProfilerEventHandler
emptyStringsConvertToZero=true
selfDestructOnPingSecondsLifetime=0
loadBalanceExceptionChecker=com.mysql.cj.jdbc.ha.StandardLoadBalanceExceptionChecker
clientCertificateKeyStorePassword=null
readFromSourceWhenNoReplicas=false
propertiesTransform=null
failOverReadOnly=true
loadBalanceBlocklistTimeout=0
queriesBeforeRetrySource=50
ultraDevHack=false
logger=com.mysql.cj.log.StandardLogger
treatUtilDateAsTimestamp=true
loadBalanceConnectionGroup=null
retriesAllDown=120
ha.enableJMX=false
useReadAheadInput=true
autoGenerateTestcaseScript=false
serverRSAPublicKeyFile=null
elideSetAutoCommits=false
reconnectAtTxEnd=false
alwaysSendSetIsolation=true
useOnlyServerErrorMessages=true
useServerPrepStmts=false
dontTrackOpenResources=false
largeRowSizeThreshold=2048
tcpNoDelay=true
packetDebugBufferSize=20
autoDeserialize=false
loadBalanceAutoCommitStatementThreshold=0
pinGlobalTxToPhysicalConnection=false
trackSessionState=false
maintainTimeStats=true
cacheResultSetMetadata=false
ociConfigFile=null
sessionVariables=null
trustCertificateKeyStorePassword=null
customCharsetMapping=null
emulateLocators=false
selfDestructOnPingMaxOperations=0
queryInterceptors=null
allowReplicaDownConnections=false
enablePacketDebug=false
paranoid=false
pedantic=false
jdbcCompliantTruncation=true
allowUrlInLocalInfile=false
useHostsInPrivileges=true
reportMetricsIntervalMillis=30000
clientCertificateKeyStoreUrl=null
clientCertificateKeyStoreType=JKS
passwordCharacterEncoding=null
clobberStreamingResults=false
getProceduresReturnsFunctions=true
ignoreNonTxTables=false
trustCertificateKeyStoreUrl=null
enableQueryTimeouts=true
socksProxyRemoteDns=false
sendFractionalSecondsForTime=true
disconnectOnExpiredPasswords=true
connectionAttributes=null
tlsVersions=null
noDatetimeStringSync=false
allowLoadLocalInfile=false
dnsSrv=false
tcpSndBuf=0
cachePrepStmts=false
functionsNeverReturnBlobs=false
autoReconnectForPools=false
secondsBeforeRetrySource=30
holdResultsOpenOverStatementClose=false
continueBatchOnError=true
overrideSupportsIntegrityEnhancementFacility=false
blobSendChunkSize=1048576
defaultFetchSize=0
defaultAuthenticationPlugin=mysql_native_password
logSlowQueries=false
useCompression=false
fallbackToSystemTrustStore=true
socksProxyPort=1080
tcpTrafficClass=0
queryInfoCacheFactory=com.mysql.cj.PerConnectionLRUFactory
locatorFetchBufferSize=1048576
useConfigs=null
nullDatabaseMeansCurrent=false
allowPublicKeyRetrieval=false
useUsageAdvisor=false
netTimeoutForStreamingResults=600
rewriteBatchedStatements=false
forceConnectionTimeZoneToSession=false
loadBalanceAutoCommitStatementRegex=null
trustCertificateKeyStoreType=JKS
profileSQL=false
characterEncoding=null
tinyInt1isBit=true
blobsAreStrings=false
useLocalTransactionState=false
prepStmtCacheSqlLimit=256
traceProtocol=false
useOldAliasMetadataBehavior=false
authenticationFidoCallbackHandler=null
scrollTolerantForwardOnly=false
enableEscapeProcessing=true
includeThreadNamesAsStatementComment=false
cacheDefaultTimeZone=true
logXaCommands=false
detectCustomCollations=false
generateSimpleParameterMetadata=false
callableStmtCacheSize=100
disabledAuthenticationPlugins=null
createDatabaseIfNotExist=false
dumpQueriesOnException=false
interactiveClient=false
cacheCallableStmts=false
useAffectedRows=false
maxRows=-1
metadataCacheSize=50
explainSlowQueries=false
preserveInstants=true
localSocketAddress=null
allowSourceDownConnections=false
populateInsertRowWithDefaultValues=false
