maxUsers= 1000
maxOpenChats= 5000

user= ------
userPassword= ------

databaseAddress= ------
databaseName= ------
databasePort=5432

key-store= ------
certificateKeyStorePassword= ------

# Number of already written messages to retrieve and send to users whenever they request.
numberOfAlreadyMessagesToSendToUsersWheneverTheyRequest=200

