See the KeyStore section in https://docs.oracle.com/en/java/javase/17/docs/specs/security/standard-names.html#keystore-types for more information about standard keystore types.
key-store-type= ------

key-store= ------
key-store-password= ------

enabled-protocols=TLSv1.3
ciphers=TLS_AES_256_GCM_SHA384,TLS_AES_128_GCM_SHA256,TLS_CHACHA20_POLY1305_SHA256
