[Unit]

[Service]
User=root
WorkingDirectory=/srv/Ermis-Server/
ExecStart=/bin/bash -c 'cd /srv/Ermis-Server/ && ./Ermis-Server.sh'
Restart=always

[Install]
WantedBy=multi-user.target
