# Defines amount of memory (in kilobytes) to use
memory=15

# Defines number of iterations to perform
iterations=2

# Defines the degree of parallelism (number of threads)
parallelism=4

variation D: It maximizes resistance to GPU cracking attacks.
  It accesses the memory array in a password dependent order,
  which reduces the possibility of time–memory trade-off (TMTO) attacks,
  but introduces possible side-channel attacks

variation I: It is optimized to resist side-channel attacks.
  It accesses the memory array in a password independent order.

variation ID: It is a hybrid version. It follows the Argon2i approach for the first half
   pass over memory and the Argon2d approach for subsequent passes.
   It is recommended to use Argon2id except when there are reasons to prefer
   one of the other two modes.

variation=ID
