#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ChatApp Client
Comment=Chating application
GenericName=Internet Messenger
Terminal=false
Exec=/opt/ChatApp-Client/ChatApp-Client.sh
Icon=/opt/ChatApp-Client/icons/ChatApp-Client.png
Type=Application
Categories=Network;InstantMessaging;
Name[en_US]=ChatApp Client
